.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
   }
   
   .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
   }
   
   .box1 {
    font-size: 24px;
    font-weight: bold;
   }
   
   .box2 {
    font-size: 16px;
    color: #808080;
   }
   
   .drop {
    cursor: pointer;
    font-size: 18px;
    color: #3f3f3f;
   }
   
   .drop ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
   }
   
   .drop ul li {
    padding: 12px 16px;
    cursor: pointer;
   }
   
   .drop ul li:hover {
    background-color: #e6e6e6;
   }

   